body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.country {  
    fill: lightgrey;
    stroke: #999;
}
.circle-selected {
    fill: red; 
}